.card-container {
  display: flex;
  flex-direction: column;
  background-color: #1e2022;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container img {
  width: 125px;
  height: 125px;
  margin: auto;
}

.name-character {
  border-bottom: 1px solid gray;
}

.information-card {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgb(54, 52, 52);
}
